@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.ActiveTab = "aboutTab";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<div class="row-fluid">
    <div class="span8">
        <p>
          <br /><br />
                  Hi,This is Santokh Singh. I have been working in IT sector for designing and development of <br />
                  business application and enterprize solutions. I have experience of working about <br />
                  Nine years in Power domain.I have mostly worked on the solution which are<br />
                  related to energy Audit and Accounting.<br />
                  <br />
                  <br />
                  
                    <input type="submit" value="Software Skills:" class="btn btn-primary" /><br /><br />

                    • Languages:-                 VB, C#, .NET, ASP.NET, XML, HTML, CSS, Silverlight 5.0, WPF, WCF, JS, JQuery, Linq<br />
                    • Databases:-                 SQL Server 2000-2012/ ACCESS/ oracle 10g<br />
                    • Operating Systems:-         Windows XP , Windows 2000 and 2003,Windows Vista,W7<br />
                    • Reporting:-                 SSRS, Crystal Report<br />
                    • Architecture:-              Three tier, MVC, MVVM, Multi tier<br /><br />
 
                <input type="submit" value="Other Qualification(s)/ Certification(s)/ Programme(s) Attended"  class="btn btn-primary" /><br /><br />
                
                • B.Tech Computer Science<br />
                • Auto-CAD 2008<br />
                • .NET Certification<br />
                • Silverlight Business Application Designer and Developer<br />
                • Diploma Electrical Engineering<br /><br />
                
        </p>

    </div>
    <div class="span4">
        <h3>Aside Title</h3>
        <p>
            Use this area to provide additional information.
        </p>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </div>
</div>
